*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.234);
}

.container{
    width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}

/* HEADER */

.headercontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.2);
}

.logo{
    display: flex;
    font-style: italic;
    gap: 10px;
    margin-left: 10px;
}

.logotitle>h6{
    color: rgb(224, 36, 168);
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(103, 220, 255);
    text-align: center;
}

.infocontent{
    height: 23px;
    width: 170px;
    background-image: url("../img/aide.png");
    background-repeat:no-repeat ;
    background-size: contain;
}

.infocontent>p{
    margin:3px 0 0 20px;
}

.cartcontainer{
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: white;
}

.cartcontainer>p{
    text-align: center;
    background-color: rgb(103, 220, 255);
}

.cart{
    display: flex;
    background-color: rgb(103, 220, 255);
    align-items: center;
}



/* END HEADER */

/* NAV */

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: rgb(103, 220, 255) ;
    height: 50px;
    align-items: center;
    color: white;
}

nav li{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

li:hover{
    background-color: rgb(255, 0, 195);
}

a{
    text-decoration: none;
    color: white;
}


/* END NAV */

/* MAIN */
/* TOP PART */

.bandeau img{
    width: 100%;
}

.top{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px ;
}

.top>div{
    margin: 20px;
}

.title{
    color: rgb(103, 220, 255) ;
}


.middiv{
    width: 65%;
}

.leftdiv{
    width: 30%;
}

.rightdiv{
    width: 30%;
}

.rightdiv>div{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* BOTTOM PART */
.bottom{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 30px 0;
}
.boxcontainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}

.boxcontent{
    display: flex;
    align-items: center;
    padding: 5px;
}

.titlebox{
    background-color: rgba(128, 128, 128, 0.5);
    height: 25%;
    text-align: center;
    padding-top: 5px;
}

main a {
    color: rgb(103, 220, 255) ;
    text-decoration-line: underline;
}

/* END MAIN */

/* FOOTER */

footer{
    font-size: small;
    background-color: rgb(103, 220, 255) ;
}

footer ul{
    width: 80%;
    margin: auto;
}

@media (max-width : 1200px){
    .container{
        width: 80%;
    }
}

@media (max-width : 1024px){
    .container{
        width: 100%;
    }
}

@media (max-width : 960px){
    .container{
        width: 100%;
    }
    .top,.bottom{
        flex-direction: column;
    }
    .boxcontainer{
        width: 100%;
    }
    footer{
        height: 300px;
        padding: 15px;
    }
    footer ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start center;
        gap : 20px;
        font-size: large;
    }
}

@media (max-width : 550px){
    .headercontent{
        flex-direction: column;
        height: 200px;
    }
    nav{
        height: 300px;
    }
    nav ul{
        flex-direction: column;
        height: 300px;
    }
}
